<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs', {
        isLogged: isLogged
    }) %>

    <h1>MLSArtistics</h1>
    <h2>Est. 2015</h2>
    <p>In a few short years of experimenting with acrylic paint, I've already created hundreds original works of art! Everything from canvases, to coasters, household accessories, and many more. Specializing in bizarre and fascinating abstract artwork, I'm looking to help you find unique and beautiful pieces for your home or workplace. I have work featured on Society6, Redbubble, Facebook, Instagram, and more with work sold Nation-wide. Don't see what you like, no worries.  I do commissions as well!* </p>
    <h1 id="shop">Shop</h1>
   
    <p>This is where you're shopping.</p>
    <div class ="all-photos">
        <% for (let i = 0; i < photos.length; i++) {%>
            <div class="all-photos-sub">
        <div class="photos">
            <img src="<%=photos[i].photoUrl%>" alt="<%=photos[i].title%>"><br>
            <em><%=photos[i].title%><br><%=photos[i].info%><br><%=photos[i].price%></em>
        </div>
            <% if(username) { %>
                <% if (isAdmin) { %> 
                <form action="/photos/<%=photos[i]._id%>?_method=DELETE" method ="POST">
                <input type="submit" value = "Delete Photo"> 
                </form>
                <% } %>
                <form action="/users/artcart/<%=photos[i]._id%>" method="POST">
                <input type="submit" value="Add To ArtCart">
                </form>   
            <% } %>
        </div>
    <% } %>
        </div>
</body>
</html>