<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%- include('../partials/navbar.ejs', {
            isLogged: isLogged,
            isAdmin: isAdmin
        }) %>
        <h1> Art Cart!</h1>
        <form action="/users/artcart" method="POST"></form>
        <% foundUser.artCart.forEach(art => { %>
            <div>
                <img src="<%= art.photoUrl %>"/>
                <div><%= art.title %></div>
                <div><%= art.info %></div>
                <div><%= art.price %></div>
            </div>
            <% if (isAdmin) { %> 
            <form action="/users/artcart/<%=art._id%>/delete?_method=DELETE" method ="POST">
                <input type="submit" value = "Delete Photo"> 
                </form>
                <% } %>
        <% }) %>
        
        
</body>
</html>